body{
    margin: 0;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    color: #6c7279;
    background-color: #eef0e9;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px 0;
}

/*CONTAINER*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/

.header{
    height: 100px;
    width: 100%;
    padding: 35px 0;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1000;
    background-color: #373736;
}
.header.fixed{
    position: fixed;
    background-color: #373736;
}

.header.fixed.header-inner{
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 0;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eef0e9;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 15px;

}
.logo{
    font-size: 25px;
}

/*NAV*/
.nav{
    display: flex;
    font-size: 16px;
    font-weight: 700;
}
.nav-link{
    margin-left: 60px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav-link:first-child{
    margin-left: 0;
}
.nav-link:hover{
    opacity: 1;
    color: #e7dcd8;
    border-radius: 10px;
}

/*INTRO*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #a99b76 url(img/forest.jpg) center no-repeat;
    background-size: cover;  /*для кроссбраузерной верстки*/
}
.intro-inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.intro-title{
    margin: 0 0 30px;
    font-family: 'Open Sana', sans-serif ;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.intro-subtitle{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 30px;
}


/*BUTTON*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear;

}
.btn-red{
     background-color: #491b0d; 
}
.btn-red:hover{
    color: #eef0e9;
    background-color: #2e0f05;
}
.btn-long{
    min-width: 280px;
}


/*FEATURES*/
.character{
    font-size: 50px;
    margin-top: 100px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 100px;
}
.features-item{
    margin: 25px 0;
    width: 33.33333%;
    padding: 0 40px;
    text-align: center;
}
.features-icon{
    margin-bottom: 25px;
}
.features-title{

    color: #2d3033;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features-text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;

}

/* WORKS */
.film{
    font-size: 50px;
    margin-bottom: 30px;

}
.films{
    display: flex;
    flex-wrap: wrap;
}
.films-item{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-bottom:1px #fff solid ;
    border-right:1px #fff solid ;
}
.films-item:hover .films-content{
    opacity: 1;
}
.films-foto{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%,0); /* выравнивание картинки ровно по центру */
}
.films-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    opacity: 0;

    background-color: rgba(56, 17, 22, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.films-title{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.films-text{
    font-size: 14px;
    color: #fff;
}

/* TEAM*/
.emotion{
    margin: 150px 0 100px;
}
.emotion-title{
    font-size: 50px;
    margin-bottom: 30px;
    text-align: right;
}
.emotion-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.emotion-item{
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.emotion-foto{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.emotion-name{
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;

}
.emotion-prof{
    flex: 13;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.emotion-text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* REAVIEWS */
.reviews{
    background-color: #796e53;
}
.reviews-slider{
    height: 500px;
    overflow: hidden;
}
.reviews-slider.slick-initialized{
 height: auto;
}

.reviews-item{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.reviews-photo{
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews-img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}
.reviews-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;

}
.reviews-text{
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
    color: #fff;
}
.reviews-author{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.slick-dots li{
    margin: 0 5px;
}
.slick-dots button{
    width: 15px;
    height: 15px;
    padding: 0;

    background: #fff;
    border-radius: 50%;
    border: 0;
    opacity: .5;
    cursor: pointer;

    font-size: 0;
    color: transparent;
}
.slick-dots button:focus{
    outline: 0;

}
.slick-dots .slick-active button{
    opacity: 1;
}

/* PHRASE */
.phrase{
    margin: 100px 0;
    text-align: center;
}
.phrase-title{
    font-size: 40px;
    color: #2d3033;
    font-weight: 400;
    margin-bottom: 10px;
}
.phrase-text{
    font-size: 20px;
    color: #2d3033;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* FOOTER */
.footer{

    background-color: #565151;
}
.footer-inner{
    padding: 70px 0;
    display: flex;
    font-weight: wrap;

}
.footer-block{
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}
.footer-title{
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-address{
    color: rgba(255, 255, 255, .5);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}
.footer-address a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-address a:hover{
    opacity: 0.4;
}

.footer-text{
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    line-height: 1.5;
}
.footer-text a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-text a:hover{
    opacity: 0.4;
}



/* COPYRIGHT */
.footer-copyright{
    background-color: #3c3939;
    padding: 20px 0;
}
.copyright-text{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
.copyright-text span{
    color: #fff;
}

/* BURGER */
.burger{
    padding: 9px 2px;
    display: none;
    background: none;
    border: 0;

    cursor: pointer;
    
}
.burger-item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;

     font-size: 0;
     color: transparent; 

     position: relative;
}
.burger-item:before,
.burger-item:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;

    background-color: #fff;
}
.burger-item:before{
    top: -8px;
}
.burger-item:after{
    bottom: -8px;

}

/* TABLE */
.table{
    margin-top: 70px;
    margin-bottom: 150px;
}
.title{
    background: #a99b76;
    text-transform: uppercase;
}
.line-color:hover{
    background: #a99b76;
    color: white;
}

/* Switch */

.button {
    background: rgb(255, 255, 255);
    padding: 0.5rem 1.5rem;
    color: rgb(0, 0, 0);
    border-radius: 0.25rem;
  }
  
  .button [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .button [type="checkbox"] + span::before {
    content: 'off';
  }
  
  .button [type="checkbox"]:checked + span::before {
    content: 'on';
  }

@media (max-width:1300px){
    /* WORKS */
    .films-item{
        width: 50%;
    }
}

/* MEDIA */
@media (max-width: 991px){

 /* NAV */
.nav{
    display: none; 
     text-align: right;
     width: 100%;

     background-color:#313454 ;
     flex-direction: column;
     position: absolute;
     top: 100%;
     right: 0;
}

.nav.show{
    display: flex;
}

.nav-link{
    padding: 9px 15px  ;
}

/* BURGER */
.burger{
    display: block;
}

/* INTRO */
.intro{
    height: 500px;
}
.intro-title{
    font-size: 40px;
}

/* FEATURES */
.features-item{
    width: 50%;
}

/* emotion */
.emotion-item{
    width: 50%;
    text-align: center;
}
.emotion-foto{
    margin-left: auto ;
    margin-right: auto;
}

/* REAVIEWS */
.reviews-photo{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: 100px;
    overflow: hidden;
}
.reviews-content{
    width: 100%;
    padding-bottom: 40px;
}
.reviews-img{
    right: -15px;
}

}




@media (max-width:767px) {
    /* INTRO */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro-title{
        font-size: 30px;
    }
    .intro-subtitle{
        font-size:  16px;
        padding-bottom: 30px;
    }
     /* FEATURES */
     .features{
         margin: 40px 0;
     }
    .features-item{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    }

    /* FILMS */
    .films-item{
        width: 100%;
        height: 300px;
    }

    /* EMOTION */
.emotion-item{
    width: 100%;
}
.emotion{
    margin: 60px 0 30px;
}
/* REAVIEWS */
.reviews-text{
    font-size: 25px;
}
/* BUTTON */
.btn-long{
    min-width: 260px;
}
/* PHRASE */
.download{
    margin: 50px 0;
}
.download-title{
   font-size: 24px; 
}
/* FOOTER */
.footer-block{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}
.footer-block:last-child{
    margin-bottom: 0;
}
.footer-inner{
    padding: 30px 0;
}
}

@media (max-width:414px){
    /* REVIEWS */
    .reviews-img{
        right: -100px;
    }
}
}